.clangd
vgcore.*
*.out
backend/test/hermit-purple
backend/test
backend/test
backend/test
backend/test
backend/build/
backend/*.o
backend/*.d
backend/Makefile
backend/note.md
backend/**/*.log
test.*.*
backend/**/*.heic
backend/**/*.jpg
backend/**/*.jpeg
backend/**/*.png
backend/**/*.webp
.gdb*
tests.env
backend/.ignore
backend/ghidra
__pycache__
